body{
  background-color: rgb(35,58,106);
  color:white;
}

header,footer{
  text-align: center;
}

h2{
  color: rgb(50,187,102)
}

a{
  color:red;
  margin: 20px;
}

footer{
  background-color: rgb(17,37,76)
}